<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>815439076553-4v8c292n6lijap0meltieb0bqlouhuo3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.815439076553-4v8c292n6lijap0meltieb0bqlouhuo3</string>
	<key>API_KEY</key>
	<string>AIzaSyBhjPbBn2iv_eGKNkiba0IB42ZFTfbWyJw</string>
	<key>GCM_SENDER_ID</key>
	<string>815439076553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kheladzedev.NewsToDay</string>
	<key>PROJECT_ID</key>
	<string>newstoday-20786</string>
	<key>STORAGE_BUCKET</key>
	<string>newstoday-20786.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815439076553:ios:b3b9f3b52cf7816639c118</string>
</dict>
</plist>